<div class="background-white">
  <div class="competence">
    <div class="competence__title">
      <h2>Mes compétences</h2>
    </div>
    <div class="competence__subtitle">
      <h3>Langages de programmation</h3>
    </div>
    <div class="comp_tab-container">
        <div class="comp_headings">
            <div class="comp_col1">

            </div>
            <div class="comp_col2">
                <h3>Nom</h3>
            </div>
            <div class="comp_col3">
                <h3>Pourcentage de maitrise</h3>
            </div>
            <div class="comp_tab-line-separator"></div>
        </div>
                <div class='content-tab-container'>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/html5.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>HTML</div>
                        <div class='comp_project-collumn third-project-col'>80%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/css3.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>CSS</div>
                        <div class='comp_project-collumn third-project-col'>80%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/javascript.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>Javascript</div>
                        <div class='comp_project-collumn third-project-col'>50%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/nodejs.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>NodeJs</div>
                        <div class='comp_project-collumn third-project-col'>30%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/php.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>PHP</div>
                        <div class='comp_project-collumn third-project-col'>60%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/javascript.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>Javascript</div>
                        <div class='comp_project-collumn third-project-col'>50%</div>
                      </div>
                      <div class='project-collumn-container'>
                        <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/angular.svg' alt='' width='40px' height='40px'></div>
                        <div class='comp_project-collumn second-project-col'>Angular</div>
                        <div class='comp_project-collumn third-project-col'>20%</div>
                      </div>
                    </div>
        </div>
        <div class="competence__subtitle">
          <h3>Systèmes d'exploitation</h3>
        </div>
        <div class="comp_tab-container">
            <div class="comp_headings">
                <div class="comp_col1">

                </div>
                <div class="comp_col2">
                    <h3>Nom</h3>
                </div>
                <div class="comp_col3">
                    <h3>Pourcentage de maitrise</h3>
                </div>
                <div class="comp_tab-line-separator"></div>
            </div>
                    <div class='content-tab-container'>
                          <div class='project-collumn-container'>
                            <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/windows.svg' alt='' width='40px' height='40px'></div>
                            <div class='comp_project-collumn second-project-col'>Windows</div>
                            <div class='comp_project-collumn third-project-col'>90%</div>
                          </div>
                          <div class='project-collumn-container'>
                            <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/linux.svg' alt='' width='40px' height='40px'></div>
                            <div class='comp_project-collumn second-project-col'>Linux</div>
                            <div class='comp_project-collumn third-project-col'>50%</div>
                          </div>
                    </div>
            </div>
            <div class="competence__subtitle">
              <h3>Software</h3>
            </div>
            <div class="comp_tab-container">
                <div class="comp_headings">
                    <div class="comp_col1">

                    </div>
                    <div class="comp_col2">
                        <h3>Nom</h3>
                    </div>
                    <div class="comp_col3">
                        <h3>Pourcentage de maitrise</h3>
                    </div>
                    <div class="comp_tab-line-separator"></div>
                </div>
                        <div class='content-tab-container'>
                              <div class='project-collumn-container'>
                                <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/photoshop.svg' alt='' width='40px' height='40px'></div>
                                <div class='comp_project-collumn second-project-col'>Adobe Photoshop</div>
                                <div class='comp_project-collumn third-project-col'>80%</div>
                              </div>
                              <div class='project-collumn-container'>
                                <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/lightroom.svg' alt='' width='40px' height='40px'></div>
                                <div class='comp_project-collumn second-project-col'>Adobe Lightroom</div>
                                <div class='comp_project-collumn third-project-col'>90%</div>
                              </div>
                              <div class='project-collumn-container'>
                                <div class='comp_project-collumn comp_first-project-col'><img src='../../assets/img/svg/premiere.svg' alt='' width='40px' height='40px'></div>
                                <div class='comp_project-collumn second-project-col'>Adobe Premiere Pro</div>
                                <div class='comp_project-collumn third-project-col'>60%</div>
                              </div>

                            </div>
                </div>
    </div>
  </div>
