<div class="background-black">
  <div class="about">
    <div class="about__title">
      <h2>Qui suis-je ?</h2>
    </div>
    <div class="about__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="about__projet">
      <h2>Mes projets</h2>
    </div>
    <div class="tab_containers">
      <div class="headings">
        <div class="col1">
          <h3>Nom du projet</h3>
        </div>
        <div class="col2">
          <h3>Description</h3>
        </div>
        <div class="col3">
          <h3>Langage utilisé</h3>
        </div>
      </div>
      <div class="content-tab-container">
        <div class="project-collumn-container">
          <div class="comp_project-collumn first-project-col">Plant'IO</div>
          <div class="comp_project-collumn second-project-col">Un objet connecté qui vous aide avec vos plantes</div>
          <div class="comp_project-collumn third-project-col">Electron - Arduino</div>
        </div>
        <div class="project-collumn-container">
          <div class="comp_project-collumn first-project-col">Portfolio</div>
          <div class="comp_project-collumn second-project-col">Projet UF Web pour l'école Ynov Digital School - Aix en Provence</div>
          <div class="comp_project-collumn third-project-col">HTML - CSS - Javascript - PHP</div>
        </div>
        <div class="project-collumn-container">
          <div class="comp_project-collumn first-project-col">Inventaire+</div>
          <div class="comp_project-collumn second-project-col">Projet UF Infra pour l'école Ynov Digital School - Aix en Provence</div>
          <div class="comp_project-collumn third-project-col"></div>
        </div>
        <div class="project-collumn-container">
          <div class="comp_project-collumn first-project-col">Thermometre Arduino</div>
          <div class="comp_project-collumn second-project-col">Thermometre qui affiche la temperature sur un module 4-digit</div>
          <div class="comp_project-collumn third-project-col">Arduino</div>
        </div>
      </div>
    </div>
  </div>
</div>
