/* Phone */

@media only screen and (max-width: 1240px) {
    nav a {
      text-decoration: none;
      color: white;
      font-size: 2.5em;
      margin: 15px;
      padding-top: 30px;
    }

    .title-container {
    display: flex;
    flex-flow: column;
    color: white;
    justify-content: center;
    height: 75vh;
    width: 65%;
    margin: auto;
  }

  .title-container__title h1 {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
  }

  .title-container__title h2 {
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
  }
  .corentin {
    display: none;
  }
  .corentin-responsive {
    display: block;
  }

  .footer-container {
    width: auto;
    margin:auto;
  }

  .gear__container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .gear__container__inside img, .gear__container__inside-black img {
      height: 120px;
      width: 120px;
  }
  .gear__container__inside h3, .gear__container__inside-black h3 {
    font-size: 2em;
  }
  .footer-container__title h2 {
    font-size: 2.5em;
  }
  .footer-container__title h3 {
    font-size: 1em;
  }
  .footer-container__images img {
    height: 80px;
    width: 80px;
  }
  .background-black footer {
    height: 15vh;
  }
  .about__title h2 {
    font-size: 2.5em;
  }
  .about__text p {
    font-size: 2em;
  }
  .about__projet h2 {
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 7px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.col1, .col2, .col3 h3 {
    font-size: 1.2em;
  }
  .col1, .col2, .col3 {
    position: relative;
    width: 23vw;
  }
  .comp_project-collumn {
    margin-top: 10px;
    font-size: 1.5em;
    width: 23vw;
}
.competence__subtitle h3 {
    padding-top: 30px;
    font-size: 1.5em;
}
.competence__title h2 {
    color: #191919;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 7px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.comp_col1, .comp_col2, .comp_col3 {
    position: relative;
    width: 23vw;
}
}
